Flask==1.0.2
pymongo==3.7.2
Cython==0.29.6
matplotlib==3.0.3
numpy==1.16.2
jieba==0.39
pywin32==224
pandas==0.24.2
six==1.12.0
tensorflow_gpu==1.14.0
pypinyin==0.35.4
scipy==1.2.1
opencv_python==4.1.0.25
Keras==2.2.4
Pillow==7.1.2
pyaudio==0.2.11
scikit_learn==0.23.1
tensorflow==2.2.0
win32gui==221.6
